@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.Link-bar {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 4%;
}

.App-header {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 4%;
}

.Text-modifier {
  color:black; 
  font-size:18px;
  font-weight: bold; 
  text-decoration:none;
}

.Header-text {
  margin-left: 25px;
  margin-top: auto;
  margin-bottom: auto;
  color:black; 
  font-weight: bold; 
  text-decoration:none;
  font-size: calc(10px + 3vmin);
  font-family: 'Archivo', sans-serif;
  font-weight: bolder;
}

.App-body {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 20px;
}

.TeamViewer-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: black;
  justify-content: space-between;
  cursor: pointer;
  border: 0px solid black;
  background-color: black;
  height: 100%;
  align-items: center;
}

.TeamViewer-bar {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  vertical-align: center;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.InfoText {
  margin-top: 20px;
}

.Team-wrapper {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
}

.Team-sidebar {
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  align-items: center;
  justify-content: center;
  width: 80px;
  border: 0px solid lightgrey;
  background-color: lightgrey;
  height: 100%;
}

.Hover-sidebar:hover {
  background-color: #C8C8C8;
  cursor: pointer;
}

.Team-center {
  display: flex;
  width: 100%;
  background-color: darkgrey;
  justify-content: space-between;
}

.Team-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.Person-header {
  font-size: 20pt;
  font-weight: bolder;
  padding-left: 15px;
  padding-top: 15px;
}

.Person-text {
  font-weight: light;
  font-size: 12pt;
  padding-left: 15px;
}

.Player-pic {
  width: 120px;
  height: 120px;
}

@media (max-width : 500px) {
  .Person-header {
    font-size: 10pt;
  }
  .Person-text {
    font-size: 6pt;
  }
  .Player-pic {
    width: 90px;
    height: 90px;
  }
}

.Contact-form {
  display: flex;
  justify-content: center;
  margin: 20px;
}